<!-- ko with: login -->
<div class="body-content row">
    <div class="col-md-6">
        <h2>Welcome to @ViewBag.siteTitle</h2>
        <p>Connect with your friends around the world with real-time updates.</p>
        <p>Meet up with your friends now that you know where they are.</p>
        <ul>
            <li>See photos &amp; updates on a global platform</li>
            <li>Share your travels</li>
            <li>Make new friends around the globe</li>
        </ul>
    </div>
    <section class="col-md-6">
        <div class="form-border">
            <form class="form-horizontal row" role="form">
                <ul class="text-danger" data-bind="foreach: loginerrors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label for="RegisterUserName" class="col-md-4 control-label">Email Address</label>
                    <div class="col-md-7">
                        <input type="text" id="LoginUserName"  class="form-control" data-bind="value: loginuserName, hasFocus: true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="RegisterUserName" class="col-md-4 control-label">Password</label>
                    <div class="col-md-7">
                        <input type="password" id="LoginPassword" class="form-control" data-bind="value: loginpassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-7">
                        <div class="checkbox">
                            <input type="checkbox" id="LoginRememberMe" data-bind="checked: loginrememberMe" />
                            <label for="LoginRememberMe">Remember me?</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-7">
                        <button type="submit" class="btn btn-default" data-bind="click: login, disable: loggingIn">Log in</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-border">
            <form class="form-horizontal" role="form"">
                <h4>New to @ViewBag.siteTitle?</h4>
                <p>Sign up and start connecting!</p>
                <hr />
                <ul class="text-danger" data-bind="foreach: registererrors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label for="RegisterUserName" class="col-md-4 control-label">Email Address</label>
                    <div class="col-md-7">
                        <input type="text" id="RegisterUserName" class="form-control" data-bind="value: registeruserName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="RegisterPassword" class="col-md-4 control-label">Password</label>
                    <div class="col-md-7">
                        <input type="password" id="RegisterPassword" class="form-control" data-bind="value: registerpassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="RegisterConfirmPassword" class="col-md-4 control-label">Confirm password</label>
                    <div class="col-md-7">
                        <input type="password" id="RegisterConfirmPassword" class="form-control" data-bind="value: registerconfirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <button type="submit" class="btn btn-default" data-bind="click: register, disable: registering">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--
    <section class="col-md-4">
        <h4>Use another service to login.</h4>
        <hr />
        <div data-bind="visible: loadingExternalLogin">Loading...</div>
        <div data-bind="visible: !loadingExternalLogin()">
            <div data-bind="visible: !hasExternalLogin()">
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <form class="form-horizontal" role="form" data-bind="visible: hasExternalLogin">
                <p data-bind="foreach: externalLoginProviders">
                    <button type="submit" class="btn btn-default" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
                </p>
            </form>
        </div>
    </section>
    //-->
</div>
<!-- /ko -->
