@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BanjiTravelApp</title>
    <style>
        html, body, #map-canvas {
height: 100%;
margin:  0px;
padding:  0px;
}
html {
    position: relative;
}
body {
    overflow: hidden;
    margin:  0px 0px 40px;
}
header {
    background-color:  white;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    height:  20px;
    width:  100%;
    z-index:  2;
    padding:  10px 0px;
}
#logo {
    float: left;
    padding-left:  10px;
}
#login {
    float: right;
}
#copyright {
    padding-right:  10px;
    float:  right;
}
footer {
    background-color:  white;
    opacity: 0.2;
    position: absolute;
    left:  0;
    bottom:  0;
    height:  20px;
    width:  100%;
    padding:  10px 0px;
}
    </style>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.signalR-2.0.3.js"></script>
    <script type="text/javascript" src="/Scripts/knockout-3.1.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>  
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        var map;
        function initialize() {
            var mapOptions = {
                zoom: 2,
                center: new google.maps.LatLng(0, 0)
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

            google.maps.event.addListener(map, 'click', function (e) {
                console.log("Sending latlng");
                $.connection.travelHub.server.addMarker(e.latLng.lat(), e.latLng.lng());
            });

            $.connection.travelHub.client.successful = function (lat, lng) {
                var latlngliteral = {lat: lat, lng: lng};
                var marker = new google.maps.Marker({
                    position: latlngliteral,
                    map: map
                });
                map.panTo(latlngliteral);
            };

            $.connection.hub.start();
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <header>
        <div id="logo">BanjiTravelApp</div>
        <div id="login"><a href="#">Login to Facebook</a></div>
    </header>
    <div id="map-canvas"></div>
    <footer>
        <div id="copyright">&copy; Banji Travel App</div>
    </footer>
    </body>
</html>
